/Astroctavo_table_001.ods
/Astroctavo_table_001_unfurled.ods
/Astroctavo_table_001_val_tst.csv
/Astroctavo_table_001_val_tst.ods
/Astroctavo_table_GMT_001.ods
/Astroctavo_table_GMT_001_001.ods
/Astroctavo_table_GMT_001_001x.ods
/Astroctavo_table_GMT_001_001y.ods
/Astroctavo_table_GMT_001_001yY.ods
/Astroctavo_table_GMT_001_001z.ods
/Astroctavo_table_GMT_001_001zz.ods
/Ethereum 01 August 2023.csv
/Ethereum 01 August 2023.ods
/Ethereum 27 August 2023.csv
/New POINTER 08.13.2023 (1680x1680).png
/html2canvas.esm.js
/html2canvas.js
/html2canvas.min.js